{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Categories</a>
            <div class="dropdown-menu">
                {% for category in categories  %}
                <a class="dropdown-item" href="{% url 'blog:category' category.title %}">{{category.title}}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Write New Blogs</a>
        </li>

    </ul>
</div>
<div class="row">
    {% for blog in blogs  %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{blog.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.summary}}</p>
                <a href="{% url 'blog:detail' blog.id %}" class="btn btn-primary">read more</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}